*, *:before, *:after {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.input-addon-container {
    display: flex;
    position: relative;
    align-items: center;
}

.input-addon {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    width: 20px;
    display: inline;
}

.input-with-prepend {
    width: 100%;
    padding-left: 40px;
}

.input-with-append {
    width: 100%;
    padding-right: 40px;
}

.input-addon.prepend {
    position: absolute;
    left: 10px;
    min-width: 20px;
}

.input-addon.append {
    position: absolute;
    right: 10px;
    min-width: 20px;
}
