:root {
    --primary-color: #9879e9;
    --white: #fff;
  }
  
  button {
    padding: 10px 80px;
    border: 1px solid transparent;
    background: var(--primary-color);
    border-radius: 30px;
    color: var(--white);
  }
  