
.input-password-container {
    display: inline;
    position: relative;
}

.input-password {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    right: 5px;
    min-width: 20px;
    display: inline;
}
